.Container{
    height:60px;
}

.Wrapper{
   padding: 10px 20px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.left{
    /* equal parts */
    flex: 1; 
    align-items: center;  
    display: flex;
}
.right{
    flex: 1;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
   
}
.right span{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
  
}
.center{
    flex: 1;
    text-align: center;
}
.center > h1{
    font-weight: bold;
}

.language{
    font-size:14px;
    cursor:pointer
}

.SearchContainer{
    border: 0.5px solid lightgrey;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.SearchContainer > input{
    border: none;
}